@import "../../../../vendor/filament/filament/resources/css/theme.css";

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../vendor/malzariey/filament-daterangepicker-filter/resources/views*.blade.php';


.fi-topbar {
    background: yellow !important;
}

.fi-sidebar {
    background-color: var(--gray-900);
}

.fi-sidebar-item {
    .fi-sidebar-item-label {
        color: var(--gray-200);
    }

    &.fi-active > .fi-sidebar-item-btn {
        background-color: color-mix(
            in oklab,
            var(--color-white) 5%,
            transparent
        );

        .fi-icon {
            color: var(--primary-400);
        }
    }

    &.fi-sidebar-item-has-url > .fi-sidebar-item-btn:hover {
        @media (hover: hover) {
            background-color: color-mix(
                in oklab,
                var(--color-white) 5%,
                transparent
            );
        }
    }
}
